{{#em-form model=model}}
  {{#if model.errors.length}}
    {{#each model.errors as |error|}}
      {{error}}
    {{/each}}
  {{/if}}
  <div class="well">
    {{em-input label="Email" cid="email" property="email"}}
    {{em-input model=model label="Password" cid="password" property="password" type="password"}}
  </div>
{{/em-form}}
{{#link-to 'registration.reset_password'}}Password forgotten{{/link-to}}
