<div class="row">
<div class="col-xs-12">
  {{data-table model=model title="Users" columns=columns editRoute='admin.users.edit' showRoute='admin.user'}}
</div>
</div>
{{#link-to 'admin.users.new' class="btn btn-success"}}
  <span class="glyphicon glyphicon-plus"/> Create new user
{{/link-to}}
{{outlet}}
