<div class="col-sm-4">
  {{#default-box title="Subscription"}}
    Total : {{model.subscriptions.length}}
  {{/default-box}}
</div>
<div class="col-sm-4">
  {{#default-box title="Courses"}}
    Total : {{model.courses.length}}
  {{/default-box}}
</div>
<div class="col-sm-4">
  {{#default-box title="Amount"}}
    Total : {{model.amount}}
  {{/default-box}}
</div>
