{{#em-form model=model}}
  {{#if model.errors.length}}
    {{#each model.errors as |error|}}
      {{error}}
    {{/each}}
  {{/if}}
  <div class="well">
    {{em-input model=model label="Email" property="email"}}
  </div>
{{/em-form}}
