<div class="row">
<div class="col-xs-12">
  {{data-table model=model title="Administateurs" columns=columns editRoute='admin.admin_users.edit'}}
</div>
</div>
{{#link-to 'admin.admin_users.new' class="btn btn-success"}}
  <span class="glyphicon glyphicon-plus"/> Créer un administrateur
{{/link-to}}
{{outlet}}
