<div class="container">
  <div class="row">
    {{#default-box title="Inscription" }}
      Bienvenue, veuillez compléter les informations suivantes.
    {{/default-box}}
  </div>
  {{user-form items=items subscriptions=subscriptions contacts=contacts submit="submit"}}
</div>
<script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
