<div class="container">
  <div class="row">
    {{#default-box title="Inscription" }}
      Bienvenue, veuillez compléter les informations suivantes.
    {{/default-box}}
  </div>
  {{#subscription-form model=model}}
  {{/subscription-form}}
</div>
