<p><%= t(".opening") %></p>

<p>
  <a href="http://localhost:4200/admin_users/<%= @user.id %>/edit_password/<%= @user.confirmation_token.html_safe %>">
    Change password
  </a>
</p>

<p><%= raw t(".closing") %></p>
