<ul>
{{#each courses as |course|}}
  <li>
    {{course.id}}
    {{course.name}}
    {{#link-to 'admin.courses.edit' course}}Edit{{/link-to}}
    <a href="#" {{action "delete" course preventDefault=true}}>Delete</a>
  </li>
{{/each}}
</ul>
