<div class="col-sm-4">
  {{#default-box title="Inscription"}}
    Total : {{model.subscriptions.length}}
  {{/default-box}}
</div>
<div class="col-sm-4">
  {{#default-box title="Cours"}}
    Total : {{model.courses.length}}
  {{/default-box}}
</div>
<div class="col-sm-4">
  {{#default-box title="Montant"}}
    Total : {{model.amount}}
  {{/default-box}}
</div>
