{{#default-box title="Courses"}}
<table class="table table-bordered table-hover" role="grid">
  <thead>
    <tr role="row">
      <th>Id</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |course|}}
      <tr role="row" class="odd">
        <td class="sorting_1">
          {{course.id}}
        </td>
        <td>
          {{course.name}}
        </td>
        <td>
          {{#link-to 'admin.courses.edit' course.id}}Edit{{/link-to}}
            <a href="#" {{action "delete" course preventDefault=true}}>Delete</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <th rowspan="1" colspan="1">Id</th>
      <th rowspan="1" colspan="1">Email</th>
      <th rowspan="1" colspan="1">Actions</th>
    </tr>
  </tfoot>
</table>
{{/default-box}}
