<div class="login-box">
  <div class="login-logo">
    <b>Admin</b>LTE
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Vous devez vous connecter pour gérer votre association</p>

    {{#em-form model=model submitButton=false}}
      {{#if model.errors.length}}
        {{#each model.errors as |error|}}
          {{error}}
        {{/each}}
      {{/if}}
      {{em-input model=model label="Email" property="email"}}
      <div class="row">
        <div class="col-xs-6">
          {{#link-to 'login'}}Se connecter{{/link-to}}
        </div>
        <div class="col-xs-6 pull-right">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Changer de mot de passe</button>
        </div>
      </div>
    {{/em-form}}


  </div>
  <!-- /.login-box-body -->
</div>
